/* Media query for laptops and smaller desktops */
@media (max-width: 1200px) {
    .scrolling-text-container {
        width: 100%;
        top: 10%;
        transform: translateX(7%);
    }
    .scrolling-text-inner {
        font-size: 80px;
    }
    .main-img {
        width: 70%;
        left: 55%;
        top: 65%;
    }
    @keyframes main-img {
        0% {
            top: 91%;
        }
        100% {
            top: 65%;
        }
    }

    .company-info {
        transform: translateX(10%);
    }
}

@media (max-width: 1100px) {
    .service h2 {
        font-size: 20px;
    }

    .service p {
        font-size: 17px;
    }
}

@media (max-width: 1024px) {
    .company-info {
        font-size: 3vw;
        padding: 0 10px;
    }
}

/* Media query for smaller laptops and larger tablets */
@media (max-width: 992px) {
    .services-container {
        margin-top: 0px;
        margin-left: 0px;
    }
    .service .fa, .service .fa-solid {
        font-size: 35px;
    }
    .service h2 {
        font-size: 25px;
    }
    
}

/* For devices smaller than 768px (tablets) */
@media (max-width: 768px) {
    .company-info h1 {
        font-size: 3rem; /* Adjust for smaller screens */
    }
    .main-img {
        transform: translateX(-500px);
        top: 70%;
        width: 400px;
    }
    @keyframes main-img {
        0% {
            top: 91%;
        }
        100% {
            top: 70%;
        }
    }

    .service .fa, .service .fa-solid {
        font-size: 25px;
    }
    .service h2 {
        font-size: 18px;
    }

    .service p {
        font-size: 16px;
    }

    .masonry-layout img {
        margin: 0 0 5px; 
    }

    .masonry-layout img:hover {
        transform: scale(1.5);
    }

    .gallery-title {
        margin-bottom: 20px;
    }
    .gallery-section {
        padding: 15px 0;
    }

    .comparison-container {
        display: block;
    }
    .comparison-wrapper {
        left: 8%;
    }
    .masonry-layout {
        column-count: 4; 
    }
}

/* For devices smaller than 480px (mobile phones) */
@media (max-width: 576px) {
    .hero-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center the content when wrapping */
    }
    
    .company-info {
        transform: translateX(0); /* Remove horizontal shift */
        padding: 0 10px; /* Add consistent padding within the viewport */
    }
    .company-info h1 {
        font-size: 2rem; /* Adjust for smaller screens */
    }

    .company-info p {
        font-size: 1rem;
    }
    .scrolling-text-container {
        width: 100%;
        top: 10%;
        transform: translateX(7%);
    }
    .masonry-layout {
        column-count: 3; 
    }
    .comparison-wrapper {
        width: 400px;
        height: 350px;
        transform: translateX(5%);
    }
    footer .bottom-logo {
        transform: translateX(10%);
    }
}

@media (max-width: 480px) {
    .company-info h1 {
        font-size: 2.5rem;
    }

    .main-img {
        transform: translateX(-450px);
    }

    .service h2 {
        font-size: 20px;
    }

    .service p {
        font-size: 14px;
    }
    .comparison-wrapper {
        width: 350px;
        height: 300px;
        transform: translateX(2%);
    }
    
}
