@import url('https://fonts.cdnfonts.com/css/games');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body{
    background: #CBDCEB;
}

img {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 80%;
    height: 70px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    font-family: 'Games', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #608BC1;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: black;
    display: block;
    margin: 0 10px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li a:hover {
    background: #CBDCEB;
}

nav ul li a.active {
    background: #608BC1;
    color: #fff;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: #f6f4ff;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background-color: #212526;
}

@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        position: fixed;
        left: -400%;
        top: 0;
        z-index: 10;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger {
        display: block;
    }
}


/*Hero Section*/
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    height: 700px; /* Adjust height as needed */
}

.hero-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.company-info {
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
    padding-right: 15px;
    transform: translateX(-150px); /* Adjust value as needed */
    z-index: 100;
}

.company-info h1 {
    font-size: 3rem; /* Adjust as needed */
    margin-bottom: 10px;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s , 
    cursor 0.4s step-end infinite alternate;
}

.company-info p {
    font-size: 2.5rem; /* Adjust as needed */
    
}

.company-info button {
    font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #fefefe;
    background-color: #fefefe;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transition */
}

.company-info button:hover {
    background-color: #608BC1;
    color: #F3F3E0;
    border-color: #608BC1;
}

.fa-instagram {
    color: #133E87; /* Default color */
    font-size: 34px; /* Size of the icon */
    transition: color 0.3s; /* Transition effect on hover */
}
span {
    color: #608BC1;
}

.animated-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Align text to the right */
    position: relative;
}

.hero-company-name {
    position: absolute; /* Allow it to overlay the main image */
    top: 30%; /* Center it vertically */
    right: 7%; /* Align it to the right side */
    transform: translateY(-50%); /* Center the element vertically */
    z-index: 0; /* Place it behind the image if needed */
    color: white; /* Adjust text color for better visibility */
    letter-spacing: 12px;
    font-family: 'Games', sans-serif;
    white-space: nowrap; /* Prevent text wrapping */
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    
}

.main-img {
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    animation: main-img 1s ease-in-out;
    z-index: 0;
}

@keyframes main-img {
    0% {
        top: 91%;
    }
    100% {
        top: 80%;
    }
}

/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

/* Container styles */
.scrolling-text-container {
    border-radius: 4px;
    overflow: hidden;
    width: 50%;
}

.scrolling-text-container::before,
.scrolling-text-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10%; /* Adjust for smoothness */
    height: 100%;
    pointer-events: none; /* Prevent overlay from affecting interaction */
    z-index: 1; /* Place on top of scrolling text */
}

/* Left gradient */
.scrolling-text-container::before {
    left: 0;
    background: linear-gradient(to right, #CBDCEB, transparent);
}

/* Right gradient */
.scrolling-text-container::after {
    right: 0;
    background: linear-gradient(to left, #CBDCEB, transparent);
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 150px;
    font-weight: 600;
    padding: 8px 0;
    animation: scroll-left var(--marquee-speed) linear infinite;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 40px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px 0; /* Adjust spacing as needed */
}

.divider::before,
.divider::after {
    content: "";
    width: 700px;
    height: 1px;
    background-color: #fefefe; /* Color for the line */
}

.divider i {
    font-size: 45px; /* Size of the icon */
    color: #fefefe; /* Color of the icon */
    margin: 0 10px; /* Space around the icon */
}



/*Services Section*/
.services {
    height: 40vh;
}
.services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #133E87;
    font-size: 45px;

}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 30px;
}

.services-container h2 {
    font-size: 30px;
    color: #608BC1;
}

.service {
    margin: 20px;
    width: 21%;
}

.service h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service .fa, 
.service .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fefefe;
    margin-bottom: 10px;
}

.service p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

/*Gallery Section*/
.gallery-section {
    padding: 50px 0;
}

.gallery-title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
    color: #133E87;
}

/* Masonry layout with columns */
.masonry-layout {
    column-count: 5; 
    column-gap: 5px; 
    padding-left: 10px;
    padding-right: 10px;
}

.masonry-layout img {
    width: 100%;
    margin: 0 0 10px; 
    display: block;
    break-inside: avoid; 
    border: 3px solid #608BC1;
    border-radius:10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.masonry-layout img:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */
    z-index: 1; /* Bring the hovered image to the front */
}

/* Comparison Section */
.comparison-section {
    text-align: center;
    position: relative;
}

.comparison-title {
    font-size: 36px;
    color: #133E87;
    margin-bottom: 40px;
}

.comparison-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.comparison-wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 5px solid #608BC1;
    border-radius: 5px;
    margin: 20px;
}

.comparison-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.before-image img {
    z-index: 2;
    clip-path: inset(0 50% 0 0); /* Start with a 50% split */
}

.after-image img {
    z-index: 1;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* Start at the middle */
    width: 4px;
    background-color: #fefefe;
    z-index: 3;
    cursor: ew-resize; /* Horizontal resize cursor */
}

.slider-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #FFBF00;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.comparison-wrapper:hover .slider-handle {
    background-color: #133E87;
}


/*Contact Section*/

.contact {
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  
.contact_us_2 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    color: #133E87;
}

.contact_us_2 .responsive-cell-block {
    min-height: 75px;
}

.contact_us_2 input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_2 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
.contact_us_2 .submit-btn:hover{
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #133E87;
}

.contact_us_2 .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
    height: auto;
}

.contact_us_2 .responsive-container-block.container {
    position: static;
    min-height: 75px;
    flex-direction: column;
    z-index: 2;
    max-width: 800px;
    margin-top: 120px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.contact_us_2 .container-block.form-wrapper {
    background-color: white;
    max-width: 799px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.contact_us_2 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 50px;
    font-weight: 900;
}

.contact_us_2 .text-blk.contactus-subhead {
    color: #9c9c9c;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
  }
  .contact_us_2 .input {
    width: 96%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
.contact_us_2 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.contact_us_2 .submit-btn {
    width: 98%;
    background-color: #608BC1;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.contact_us_2 .form-box {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.contact_us_2 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
}

.contact_us_2 ::placeholder {
    color: #dadada;
}



@media (max-width: 768px) {
    .contact_us_2 .submit-btn {
      width: 100%;
    }
  
    .contact_us_2 .input {
      width: 100%;
    }
  
    .contact_us_2 .textinput {
      width: 100%;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 30px;
      line-height: 40px;
    }
  }
  
@media (max-width: 500px) {
    .contact_us_2 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      font-size: 12px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.big-container {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 26px;
      line-height: 34px;
    }
  
    .contact_us_2 .input {
      height: 45px;
    }
}

.request-note {
    margin-top: 20px;
    font-size: 30px;
    color: #608BC1;
}

footer {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    width: 10%;
}

.bottom-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #133E87;
}

.bottom-logo img {
    margin-right: 10px;
}

.bottom-logo h3 {
    font-size: 25px;
}
footer p {
    color: #608BC1;
}